<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
 	<properties resource="db.properties"/>
 	<!-- resource: 자신의 폴더 안에 있는 파일 읽기
 		 url: 외부에 있는 경우
 	 -->
 		<typeAliases>
 		<!-- 
 			VO 전체를 등록
 		 -->
 		 	<typeAlias type="com.sist.vo.FoodVO" alias="FoodVO"/>
 		 	<typeAlias type="com.sist.vo.SeoulVO" alias="SeoulVO"/>
 		 	<typeAlias type="com.sist.vo.RecipeVO" alias="RecipeVO"/>
 		 	<typeAlias type="com.sist.vo.ChefVO" alias="ChefVO"/>
 		 	<typeAlias type="com.sist.vo.MemberVO" alias="MemberVO"/>
 		 	<typeAlias type="com.sist.vo.EmpVO" alias="EmpVO"/>
 		 	<typeAlias type="com.sist.vo.BoardVO" alias="BoardVO"/>
 		</typeAliases>
 		<environments default="development">
 			<environment id="development">
 				<transactionManager type="JDBC"/>
 				<dataSource type="POOLED">
 					<property name="driver" value="${driver}"/>
 					<property name="url" value="${url}"/>
 					<property name="username" value="${username}"/>
 					<property name="password" value="${password}"/>
 				</dataSource>
 			</environment>
 		</environments>
 		<mappers>
 			<mapper resource="com/sist/mapper/food-mapper.xml"/>
 			<mapper resource="com/sist/mapper/seoul-mapper.xml"/>
 			<mapper resource="com/sist/mapper/recipe-mapper.xml"/>
 			<mapper resource="com/sist/mapper/member-mapper.xml"/>
 			<mapper resource="com/sist/mapper/emp-mapper.xml"/>
 			<mapper resource="com/sist/mapper/board-mapper.xml"/>
 		</mappers>
 </configuration>